{% extends "layout.html" %}
{% block title %}CBL Page{% endblock %}
{% block head %}
    {{ super() }}

    <style>
        .box {
            margin: 10px;
            padding: 12px;
            border: 1px solid black;
            width: 99%;
            height: 70px;
        }

        .btn {
            margin: 12px;
        }
    </style>
{% endblock %}
{% block contents %}
    <div class="box">
        <h1>전력 사용량 차트</h1>
    </div>

    <div class="box">
        <span>조회 조건</span>
        <div class="btn">
            <input type="button" id="beforeBtn" value="<" onclick="shiftDate(value);"/>
            <input type="date" id="commandDate" required/>
            <input type="button" id="afterBtn" value=">" onclick="shiftDate(value);"/>

            <input type="button" value="오늘" onclick="btnSearch(this.value);">
            <input type="button" value="최근" onclick="btnSearch(this.value);">
            <input type="button" value="검색" onclick="btnSearch(this.value);">
        </div>
    <script type="text/javascript" src="/static/js/cbl/cbl.js"></script>
    </div>

    <div id="chart"></div>
    <div id="grid"></div>


{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
